:root {
  --tool-btn-size: 18px;
  --tool-font-size: 14px;
  --tool-btn-menu-padding: 5px;
  --warning-error-font-size: 14px;
  --tool-modal-padding: 10px;
}
/* BUTTON */
.tool_btn {
  border: none;
  border-radius: 100%;
  padding: var(--tool-btn-menu-padding);
}
.tool_btn .icon_container {
  width: var(--tool-btn-size);
  height: var(--tool-btn-size);
  font-size: var(--tool-btn-size);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* INPUT */
.tool_input {
  font-size: var(--tool-font-size);
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.tool_input_input {
  width: 25px;
  text-align: right;
  font-size: var(--tool-font-size);
}
/* MENU */
.tool_menu {
  position: absolute;
  padding: var(--tool-btn-menu-padding);
}

/* WARNING & ERROR */
.Warning,
.Error {
  display: flex;
  align-items: center;
}

.Warning p,
.Error p {
  margin: 0;
}
.Warning .Icon,
.Error .Icon {
  display: flex;
  align-items: center;
  /* needs to match line-height of text */
  font-size: 23px;
  margin-right: 5px;
}

.Warning {
  color: rgb(205 172 12);
}
.Error {
  color: rgb(223, 69, 69);
}

/* MODAL */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  border: 1px solid rgba(25, 25, 25, 0.2);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  padding: var(--tool-modal-padding);
  background-color: white;
}
.modal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.modal .header button {
  display: flex;
  border: none;
  border-radius: 100%;
  font-size: 16px;
  padding: 3px;
  margin-left: 20px;
}
.modal .header button div {
  display: flex;
}
